.DS_Store
cscope.*
tags
data/
output/
bin/
include/
lib/
third-party/
tests/
log/
*.o
*.wav
Products/
obj/
so_obj/
bin_obj/

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

html/
